<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Server" type="Application" factoryName="Application" activateToolWindowBeforeRun="false">
    <option name="MAIN_CLASS_NAME" value="main.Main" />
    <module name="Server" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>